Library/
Logs/
Obj/
obj/
bin/
Temp/
UserSettings/
UnityProject/.utmp/
Build/
Builds/
MemoryCaptures/
.vs/
.vscode/
.idea/
TestResults/
*.user
*.csproj.user
*.sln.docstates
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
sysinfo.txt
